<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css" />

    <title>Top 3</title>



</head>

<body>
    <div class="row">
        <nav>
            <div class="nav-wrapper gradient-header">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="https://top3recommendations.herokuapp.com/profile">Profile</a></li>
                    <li><a href="https://top3recommendations.herokuapp.com/entrypage">Explore</a></li>
                    <li><a href="https://top3recommendations.herokuapp.com/rec/newrec">Create Rec</a></li>
                    <li><a href="https://top3recommendations.herokuapp.com/login/logout">Sign out</a></li>
                    <li><a href="http://localhost:8080/profile"> test Profile</a></li>
                    <li><a href="http://localhost:8080/entrypage">test Explore</a></li>
                    <li><a href="http://localhost:8080/rec/newrec">test Create Rec</a></li>
                    <li><a href="http://localhost:8080/login/logout">test Sign out</a></li>
                </ul>
            </div>
        </nav>
    </div>
    {{{ body }}}


    <div class="row fixed-row-bottom">
        <div class="row footer">
            <p class="copyright">Copyright 2020, all rights reserved</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
    <script src="/js/userRec.js"></script>
    <script src="/js/createRec.js"></script>
    <script src="/js/top3.js"></script>

</body>

</html>