<div class="container rec1">

    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

    <script type="text/javascript">

    </script>
    {{!-- CLOUDINARY WIDGET --}}


        {{!------------ moving images here, copy across pages: --}}
    {{!-- <div>
        <img src="/images/curve1.png" alt="shape1" class="curve1">
        <img src="/images/curve2.png" alt="shape2" class="curve2">
        <img src="/images/curve3.png" alt="shape3" class="curve3">
        <img src="/images/curve4.png" alt="shape4" class="curve4">
    </div> --}}
    {{!----------- end here --}}


    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s4">
                    <img class="profile_image" alt="profile picture" src="/images/blank_profile.png" width="100"
                        height="auto" />
                </div>
                <div class="col s4">
                    <h3 float="left">
                        NAME NAME
                       {{User.firstname}} 
                       {{User.lastname}}
                    </h3>
                </div>
                <div class="col s4">
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                </div>
                <div class="col s8">
                    <h3> 
                       MOVIES
                        {{this.category}}
                    </h3>
                </div>
                <div class="col s2">
                </div>
            </div>
        </div>
    </div>
    <div class="row collection backed">
        <div class="col s2">
        </div>
        <div class="col s8">
            <ol>
                <li class="collection-item">
                    Raiers of the Lost Ark
                </li>
                <li class="collection-item">
                    Casablanca
                </li>
                <li class="collection-item">
                    A Few Good Men
                </li>
            </ol>
        </div>
        <div class="col s2">
        </div>
    </div>
</div>
<hr>

<div class="container rec2">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s4">
                    <img class="profPic profile_image" alt="profile picture" src="/images/blank_profile.png"
                        width="100"
                        height="auto" />
                </div>
                <div class="col s4">
                    <h3 float="left">
                        USER NAME
                    </h3>
                </div>
                <div class="col s4">
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                </div>
                <div class="col s8">
                    <h3>
                        CATEGORY
                    </h3>
                </div>
                <div class="col s2">
                </div>
            </div>
        </div>
    </div>
    <div class="row collection">
        <div class="col s2">
        </div>
        <div class="col s8">
            <ol>
                <li class="collection-item">
                    category item 1
                </li>
                <li class="collection-item">
                    category item 2
                </li>
                <li class="collection-item">
                    category item 2
                </li>
            </ol>
        </div>
        <div class="col s2">
        </div>
    </div>
</div>
<hr>

<div class="container rec3">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s4">
                    <img class="profPic profile_image" alt="profile picture" src="/images/blank_profile.png"
                        width="100"
                        height="auto" />
                </div>
                <div class="col s4">
                    <h3 float="left">
                        USER NAME
                    </h3>
                </div>
                <div class="col s4">
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                </div>
                <div class="col s8">
                    <h3>
                        CATEGORY
                    </h3>
                </div>
                <div class="col s2">
                </div>
            </div>
        </div>
    </div>
    <div class="row collection">
        <div class="col s2">
        </div>
        <div class="col s8 list">
            <ol>
                <li class="collection-item">
                    category item 1
                </li>
                <li class="collection-item">
                    category item 2
                </li>
                <li class="collection-item">
                    category item 2
                </li>
            </ol>
        </div>
        <div class="col s2">
        </div>
    </div>
</div>