<div class="row">
    <nav>
        <div class="nav-wrapper gradient-header">
            <a href="#" class="brand-logo"><img class="logobutton" src="/images/hand.png" alt="logo"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="profile">Profile Page </a></li>
                <li><a href="entrypage">Explore</a></li>
                <li><a href="login">Sign out</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div id="userinfobox">
                {{!-- <img id="catImage" src="" alt="">
                <img id="userImg" src="" alt=""> --}}
                {{!-- <p id="userName"></p> --}}
            </div>
        </div>
    </div>
</div>