<h1>Create recommendation</h1>

<div class="input-field col s12">
    <label>Select</label>
    <select id="category-select">
        <option value="">--------</option>
        <option value="board&card games">Board Games</option>
        <option value="beauty">Beauty</option>
    </select>
</div>

<select name="" id="product-one">
    <option value="">--------</option>
</select>

<select name="" id="product-two">
    <option value="">--------</option>
</select>

<select name="" id="product-three">
    <option value="">--------</option>
</select>
