<h1>Create recommendation</h1>

<div class="container">

    <div class="input-field col s12">
        <select id="category-select">
            <option value="">--------</option>
            <option value="board&card games">Board Games</option>
            <option value="beauty">Beauty</option>
            <option value="snacks">Snacks</option>
            <option value="movies">Movies</option>
            <option value="video games">Video Games</option>
            <option value="restaurants">Restaurants</option>
            <option value="vacation">Vacation Spots</option>
        </select>
        <label>Select Category: </label>
    </div>

    <br>

    <div id="createProduct">
        
    </div>

    <br>

    <div class="input-field col s12">
        <select name="" id="product-one">
            <option value="">--------</option>
        </select>
        <label>Select first product: </label>
    </div>

    <br>

    <div class="input-field col s12">
        <div id="createProductOne">
            <br>
            <input type="text" id="comment-one" placeholder="Product description">
        </div>
    </div>

    <br>

    <div class="input-field col s12">
        <select name="" id="product-two">
            <option value="">--------</option>
        </select>
        <label>Select second product: </label>
    </div>

    <br>

    <div class="input-field col s12">
        <div id="createProductTwo">
            <br>
            <input type="text" id="comment-two" placeholder="Product description">
        </div>
    </div>

    <br>

    <div class="input-field col s12">
        <select name="" id="product-three">
            <option value="">--------</option>
        </select>
        <label>Select third product: </label>
    </div>

    <br>

    <div class="input-field col s12">
        <div id="createProductThree">
            <br>
            <input type="text" id="comment-three" placeholder="Product description">
        </div>
    </div>

    <br>

    <button id="recDone" type="submit">Done</button>
</div>