<div class="container-fluid">

    {{!------------ moving images here, copy across pages: --}}
    <div>
        <img src="/images/curve1.png" alt="shape1" class="curve1">
        <img src="/images/curve2.png" alt="shape2" class="curve2">
        <img src="/images/curve3.png" alt="shape3" class="curve3">
        <img src="/images/curve4.png" alt="shape4" class="curve4">
    </div>
    {{!----------- end here --}}

    <div class="row center-align">
        <img src="/images/hand.png" alt="website logo" class="signin-logo">
    </div>

    <div class="row center-align signup-form">
        <div class="col s3">
        </div>
        <div class="col s6">
            
            <h4>Create a profile</h4>

            <form action="/login/createNewUser" method="POST">
                <input type="text" name="firstname" placeholder="firstname">
                <input type="text" name="lastname" placeholder="lastname">
                <input type="text" name="bio" placeholder="a bit about you">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <br>
                <input type="submit" class="submit-button colored-button" value="Create Profile">
            </form>
            <br>

            <a href="/" class="login-form">Already a User? login here</a>
        </div>
        <div class="col s3">

        </div>
    </div>
    


    <div class="row fixed-row-bottom">
        <div class="row footer">
            <p class="copyright">Copyright 2020, all rights reserved</p>
        </div>
    </div>
</div>
