<h1>signup/SIGNUP</h1>

{{!-- When user clicks submit it will got to the signup/createnewuser route where the post is also made --}}

<form action="/login/createNewUser"method="POST">
    <input type="text" name = "firstname" placeholder="firstname">
    <input type="text" name = "lastname" placeholder="lastname">
    <input type="text" name = "bio" placeholder="bio">
    <input type="text" name = "username" placeholder="Username">
    <input type="password" name = "password" placeholder="password" >
    <input type="submit" value="Go Go go!">
</form>

<a href="/">Already a User? login here</a>


<script>


</script>