<h1>Create recommendation</h1>

<div class="input-field col s12">
    <label>Select Category: </label>
    <select id="category-select">
        <option value="">--------</option>
        <option value="board&card games">Board Games</option>
        <option value="beauty">Beauty</option>
        <option value="snacks">Snacks</option>
        <option value="movies">Movies</option>
        <option value="video games">Video Games</option>
        <option value="restaurants">Restaurants</option>
        <option value="vacation">Vacation Spots</option>
    </select>
</div>

<br>

<div>
    <label>Select first product: </label>
    <select name="" id="product-one">
        <option value="">--------</option>
    </select>
    <br>
    <div id="createProductOne">
        <br>
        <input type="text" id="comment-one" placeholder="Product description">
    </div>
</div>

<br>

{{!--CLOUDINARY  WIDGET --}}
<button id="upload_widget" class="cloudinary-button" id="widgetOne">Upload files</button>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  
<script type="text/javascript">  
var recUrl;
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'top3project', 
  uploadPreset: 'yb5bx9uo'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
        console.log('Done! Here is the image info: ', result.info);
        recUrl = result.info.url 
//create an ajax call to send result.info.url to table of user as profileurl .
      //  $.ajax("/newRec", {
        //        type: "POST",
          //      data: {
            //        rec_img: result.info.url,
              //  }
           // }).then(
             //   function () {
               //     console.log("created url route for profile picture");
                    // Reload the page to get picture.
                   // location.reload();
              //  });

    }
  }
)
document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
</script>
{{!-- CLOUDINARY WIDGET --}}


<br>

<div>
    <label>Select second product: </label>
    <select name="" id="product-two">
        <option value="">--------</option>
    </select>
    <br>
    <div id="createProductTwo">
        <br>
        <input type="text" id="comment-two" placeholder="Product description">
    </div>
</div>

<br>







<br>

<div>
    <label>Select third product: </label>
    <select name="" id="product-three">
        <option value="">--------</option>
    </select>
    <br>
    <div id="createProductThree">
        <br>
        <input type="text" id="comment-three" placeholder="Product description">
    </div>
</div>

<br>

<button id="recDone" type="submit">Done</button>