<h1>Create recommendation</h1>

<div class="input-field col s12">
    <label>Select Category: </label>
    <select id="category-select">
        <option value="">--------</option>
        <option value="board&card games">Board Games</option>
        <option value="beauty">Beauty</option>
        <option value="snacks">Snacks</option>
        <option value="movies">Movies</option>
        <option value="vacation">Vacation Spots</option>
        <option value="restuarants">Restaurants</option>
        <option value="video games">Video Games</option>
    </select>
</div>

<br>

<div>
    <label>Select first product: </label>
    <select name="" id="product-one">
        <option value="">--------</option>
    </select>
    <br>
    <input type="text" id="comment-one" placeholder="Product description">
</div>

<br>

<div>
    <label>Select second product: </label>
    <select name="" id="product-two">
        <option value="">--------</option>
    </select>
    <br>
    <input type="text" id="comment-two" placeholder="Product description">
</div>

<br>

<div>
    <label>Select third product: </label>
    <select name="" id="product-three">
        <option value="">--------</option>
    </select>
    <br>
    <input type="text" id="comment-three" placeholder="Product description">
</div>

<br>

<button id="recDone" type="submit">Done</button>