    <input type="image" id="highlights" class="responsive-img category submit" src="https://dummyimage.com/1280 x 1024/000000/fff.jpg&text=TOP+3+HIGHLIGHTS">
    <input type="image" id="videogames" class="responsive-img category submit" src="https://dummyimage.com/1280 x 1024/16689e/fff.jpg&text=Videogames">
    <input type="image" id="beauty" class="responsive-img category submit" src="https://dummyimage.com/1280 x 1024/9628b8/fff.jpg&text=Beauty+Products">
    <input type="image" id="snacks" class="responsive-img category submit" src="https://dummyimage.com/1280 x 1024/5fba48/fff.jpg&text=Snacks">
    
    <div class="catContainer">
    <input type="image" id="boardgames" class="responsive-img category submit" src="https://res.cloudinary.com/tyson/image/upload/v1579817504/Catagories/boardgames_blue_ysgcka.png">
    <div class="centered">Boardgames</div>
    </div>
    
    <input type="image" id="movies" class="responsive-img category submit" src="https://dummyimage.com/1280 x 1024/f0950c/fff.jpg&text=Movies">
    <input type="image" id="restaurants" class="responsive-img category submit" src="https://dummyimage.com/1280 x 1024/d92615/fff.jpg&text=Restaurants">
    <input type="image" id="vacationspots" class="responsive-img category submit" src="https://dummyimage.com/1280 x 1024/57d0e0/fff.jpg&text=Vacation+Spots">
     