<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div class="container">
    <div class="catContainerheader">
        <img class="favSlides category"
            src="https://res.cloudinary.com/tyson/image/upload/c_scale,w_932/v1579928064/slide/fav1_elos55.png" height="50%" width="auto">
        <h4 class="centered fancy" id="changeText">Recommendations</h4>
    </div>

    <div class="catContainer col s12">
        <input type="image" value="board&cardgames" class="responsive-img category"
            src="https://res.cloudinary.com/tyson/image/upload/c_scale,w_1161/v1579817504/Catagories/boardgames_blue_ysgcka.png">
        <h4 class="centered">Board Games</h4>
    </div>

    <div class="catContainer col s12">
        <input type="image" value="beauty" class="responsive-img category"
            src="https://res.cloudinary.com/tyson/image/upload/c_scale,w_1203/v1579843246/Catagories/beauty_aq7jic.png">
        <h4 class="centered">Beauty Products</h4>
    </div>

    <div class="catContainer col s12">
        <input type="image" value="snacks" class="responsive-img category"
            src="https://res.cloudinary.com/tyson/image/upload/c_scale,w_1234/v1579845458/Catagories/snacks_tvwtmb.png">
        <h4 class="centered">Snacks</h4>
    </div>

    <div class="catContainer col s12">
        <input type="image" value="videogames" class="responsive-img category"
            src="https://res.cloudinary.com/tyson/image/upload/c_scale,w_1272/v1579841613/Catagories/vgblue_rhj8wo.png">
        <h4 class="centered">Video Games</h4>
    </div>

    <div class="catContainer col s12">
        <input type="image" value="movies" class="responsive-img category"
            src="https://res.cloudinary.com/tyson/image/upload/c_scale,w_1223/v1579848141/Catagories/movies_ebmdcx.png">
        <h4 class="centered">Movies</h4>
    </div>

    <div class="catContainer col s12">
        <input type="image" value="restaurants" class="responsive-img category"
            src="https://res.cloudinary.com/tyson/image/upload/v1579847285/Catagories/restaurant_xmngrr.png">
        <h4 class="centered">Restaurants</h4>
    </div>

    <div class="catContainer col s12">
        <input type="image" value="vacation" class="responsive-img category"
            src="https://res.cloudinary.com/tyson/image/upload/c_scale,w_1180/v1579847768/Catagories/vacation_u8cfbz.png">
        <h4 class="centered">Vacation Spots</h4>
    </div>

    <div class="catContainer col s12">
        <input type="image" value="books" class="responsive-img category"
            src="https://res.cloudinary.com/tyson/image/upload/c_scale,w_1148/v1579968050/Catagories/Books_ybp5zb.png">
        <h4 class="centered">Books</h4>
    </div>

</div>