    <div id="respond">
    <div class="catContainer col s6">
    <input type="image" id="highlights" class="responsive-img category submit" src="https://dummyimage.com/1280 x 1024/000000/fff.jpg&text=TOP+3+HIGHLIGHTS">
    </div>

    <div class="catContainer col s6">
    <input type="image" id="videogames" class="responsive-img category submit" src="https://res.cloudinary.com/tyson/image/upload/v1579841613/Catagories/vgblue_rhj8wo.png">
    <h4 class="centered">Video Games</h4>
    </div>

    <div class="catContainer col s6">
    <input type="image" id="beauty" class="responsive-img category submit" src="https://res.cloudinary.com/tyson/image/upload/v1579843246/Catagories/beauty_aq7jic.png">
    <h4 class="centered">Beauty Products</h4>
    </div>

    <div class="catContainer col s6">
    <input type="image" id="snacks" class="responsive-img category submit" src="https://res.cloudinary.com/tyson/image/upload/v1579845458/Catagories/snacks_tvwtmb.png">
     <h4 class="centered">Snacks</h4>
    </div>
    
    <div class="catContainer col s6">
    <input type="image" id="boardgames" class="responsive-img category submit" src="https://res.cloudinary.com/tyson/image/upload/v1579817504/Catagories/boardgames_blue_ysgcka.png">
    <h4 class="centered">Boardgames</h4>
    </div>
    
     <div class="catContainer col s6">
    <input type="image" id="movies" class="responsive-img category submit" src="https://res.cloudinary.com/tyson/image/upload/v1579848141/Catagories/movies_ebmdcx.png">
     <h4 class="centered">Movies</h4>
    </div>

    <div class="catContainer col s6">
    <input type="image" id="restaurants" class="responsive-img category submit" src="https://res.cloudinary.com/tyson/image/upload/v1579847285/Catagories/restaurant_xmngrr.png">
     <h4 class="centered">Restaurants</h4>
    </div>
    
    <div class="catContainer col s6">
    <input type="image" id="vacationspots" class="responsive-img category submit" src="https://res.cloudinary.com/tyson/image/upload/v1579847768/Catagories/vacation_u8cfbz.png">
     <h4 class="centered">Vacation Spots</h4>
    </div>
    </div>