<div id="highlights">
    <div class="catContainer">
        <img class="favSlides category"
            src="https://res.cloudinary.com/tyson/image/upload/v1579928062/slide/fav5_ooyeww.png">
        <img class="favSlides category"
            src="https://res.cloudinary.com/tyson/image/upload/v1579928064/slide/fav1_elos55.png">
        <img class="favSlides category"
            src="https://res.cloudinary.com/tyson/image/upload/v1579928062/slide/fav4_euwak0.png">
        <img class="favSlides category"
            src="https://res.cloudinary.com/tyson/image/upload/v1579928051/slide/fav2_whfg9f.png">
        <img class="favSlides category"
            src="https://res.cloudinary.com/tyson/image/upload/v1579928049/slide/fav3_x8d5ug.png">
        <h4 class="centered fancy" id="changeText">Recommendations</h4>
    </div>

    <div class="row">
        <div class="catContainer column">
            <input type="image" id="videogames" class="responsive-img category submit"
                src="https://res.cloudinary.com/tyson/image/upload/v1579841613/Catagories/vgblue_rhj8wo.png">
            <h4 class="centered">Video Games</h4>
        </div>

        <div class="catContainer column">
            <input type="image" id="beauty" class="responsive-img category submit"
                src="https://res.cloudinary.com/tyson/image/upload/v1579843246/Catagories/beauty_aq7jic.png">
            <h4 class="centered">Beauty Products</h4>
        </div>
    </div>

    <div class="row">
        <div class="catContainer column">
            <input type="image" id="snacks" class="responsive-img category submit"
                src="https://res.cloudinary.com/tyson/image/upload/v1579845458/Catagories/snacks_tvwtmb.png">
            <h4 class="centered">Snacks</h4>
        </div>

        <div class="catContainer column">
            <input type="image" id="boardgames" class="responsive-img category submit"
                src="https://res.cloudinary.com/tyson/image/upload/v1579817504/Catagories/boardgames_blue_ysgcka.png">
            <h4 class="centered flow-text">Boardgames</h4>
        </div>
    </div>

    <div class="row">
        <div class="catContainer column">
            <input type="image" id="movies" class="responsive-img category submit"
                src="https://res.cloudinary.com/tyson/image/upload/v1579848141/Catagories/movies_ebmdcx.png">
            <h4 class="centered">Movies</h4>
        </div>

        <div class="catContainer column">
            <input type="image" id="restaurants" class="responsive-img category submit"
                src="https://res.cloudinary.com/tyson/image/upload/v1579847285/Catagories/restaurant_xmngrr.png">
            <h4 class="centered">Restaurants</h4>
        </div>
    </div>

    <div class="row">
        <div class="catContainer column">
            <input type="image" id="vacationspots" class="responsive-img category submit"
                src="https://res.cloudinary.com/tyson/image/upload/v1579847768/Catagories/vacation_u8cfbz.png">
            <h4 class="centered fit">Vacation Spots</h4>
        </div>

        <div class="catContainer column">
            <input type="image" id="vacationspots" class="responsive-img category submit"
                src="https://res.cloudinary.com/tyson/image/upload/v1579968050/Catagories/Books_ybp5zb.png">
            <h4 class="centered fit">Books</h4>
        </div>
    </div>
</div>