<h1>LOGIN PAGE</h1>


<form action="/auth/login"method="POST">
    <input type="text" name = "name" placeholder="Username">
    <input type="password" name = "password" placeholder="password" >
    <input type="submit" value="Go Go go!">
</form>

<a href="/auth/signup">First time? sign up here!</a>