<h1>LOGIN PAGE</h1>


<form action="/signup/login"method="POST">
    <input type="text" name = "username" placeholder="Username">
    <input type="password" name = "password" placeholder="password" >
    <input type="submit" value="Go Go go!">
</form>

<a href="/signup/signup">First time? sign up here!</a>