<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
    <link rel="stylesheet" href="../public/css/style.css" type="text/css" />

    <title>Top 3</title>



	</head>
	<body>
		<div class="container-fluid">
            <div class="row">
                <nav>
                    <div class="nav-wrapper gradient-header">
                        <a href="#!" class="brand-logo">Top 3</a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                        <li><a href="login">login</a></li>
                        <li><a href="profile">Profile Page </a></li>
                        <li><a href="category">Category</a></li>
                        </ul>
                    </div>
                </nav>
                
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">Javascript</a></li>
                    <li><a href="mobile.html">Mobile</a></li>
                </ul>
            </div>
        
            <div class="row center-align">
              <img src="../public/images/blank_profile.png" alt="profile image" class="profile_image">
            </div>
        
            <div class="row"> 
                <div class="carousel">
                    <a class="carousel-item" href="#one!"><img src="../public/images/blank_profile.png"></a>
                    <a class="carousel-item" href="#two!"><img src="../public/images/blank_profile.png"></a>
                    <a class="carousel-item" href="#three!"><img src="../public/images/blank_profile.png"></a>
                    <a class="carousel-item" href="#four!"><img src="../public/images/blank_profile.png"></a>
                    <a class="carousel-item" href="#five!"><img src="../public/images/blank_profile.png"></a>
                </div> 
            </div>
        
         
        
            <div class="row fixed-row-bottom">
                <div class="row footer">
                    <p class="copyright">Copyright 2020, all rights reserved</p>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="../public/js/top3.js"></script>
	</body>
</html>
