<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Boardgames</title>
</head>
<body>
    <div id="one" >
        <img class="boardgames bkgrnd" src="https://res.cloudinary.com/tyson/image/upload/v1579817504/Catagories/boardgames_blue_ysgcka.png">
        <img class="prof" src="/public/images/blank_profile.png">
    </div>

    <div id="two">
        
    </div>
    <div id="three">
        
    </div>
    <div id="four">
        
    </div>
</body>

</html>

<div style="position:relative; width:100%; height:50vh">
    <img style="position: absolute; z-index: 2;" class="recProfile responsive-img" src="/images/blank_profile.png">
    <img id="user1" style="position:absolute; z-index: 1;" class="responsive-img" src="https://dummyimage.com/1280 x 1024/e6d6e6/fff&text=USERS+Top+3+Boardgames">
  </div>
