      <div style="position:relative; width:100%; height:50vh">
        <img style="position: absolute; z-index: 2;" class="recProfile responsive-img" src="/images/blank_profile.png">
        <img id="user1" style="position:absolute; z-index: 1;" class="responsive-img" src="https://dummyimage.com/1280 x 1024/e6d6e6/fff&text=USERS+Top+3+Boardgames">
      </div>

