<h1>signup/SIGNUP</h1>

<form action="/signup/signup"method="POST">
    <input type="text" name = "firstname" placeholder="firstname">
    <input type="text" name = "lastname" placeholder="lastname">
    <input type="text" name = "bio" placeholder="bio">
    <input type="text" name = "username" placeholder="Username">
    <input type="password" name = "password" placeholder="password" >
    <input type="submit" value="Go Go go!">
</form>

<a href="/signup/login">Already a User? login here</a>