<div class="container">

    <div class="carousel carousel-slider center userreccarousel">
        <div class="carousel-fixed-item center">
            {{!-- <a class="btn waves-effect white grey-text darken-text-2">button</a> --}}
        </div>
        <div class="carousel-item white-text" href="#one!">

            <div>
                <div>User's alias and image here</div>
                <h2>Product 1 name</h2>
                <p class="white-text">product description</p>
            </div>
            <div class="responsive-img userimgbox">
                <img class="image" src="https://cdn.stocksnap.io/img-thumbs/960w/M2XAYFTTEN.jpg" alt="">
            </div>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
            <h2>Product 2 name</h2>
            <img src="" alt="">
            <p class="white-text">product description</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
            <h2>Product 3 name</h2>
            <img src="" alt="">
            <p class="white-text">product description</p>
        </div>
    </div>
</div>  