<div class="container">
    <div class="col s12">
        <div id="userinfo">User's alias and image here
            <img class="userimg "src="" alt="">
            <p id="username"></p>
        </div>
    </div>
    <div class="carousel carousel-slider center userreccarousel">
        {{!-- <div class="carousel-fixed-item center"> --}}
        {{!-- <a class="btn waves-effect white grey-text darken-text-2">button</a> --}}
        {{!-- </div> --}}
        <div class="carousel-item white-text" href="#one!">
            <div id="userproductone">
                <h2 id="productonetitle">Product 1 name</h2>
                <p id="productonedes" class="white-text c">product description</p>
            </div>
            <div class="responsive-img userimgboxone">
            </div>
        </div>
        <div class="carousel-item white-text" href="#two!">
            <div id="userproducttwo">
                <h2 id="producttwotitle">Product 1 name</h2>
                <p id="producttwodesc" class="white-text ">product description</p>
            </div>
            <div class="responsive-img userimgboxtwo">
            </div>
        </div>
        <div class="carousel-item white-text" href="#three!">
            <div id="userproductthree">
                <h2 id="productthreetitle">Product 1 name</h2>
                <p id="productthreedesc" class="white-text">product description</p>
            </div>
            <div class="responsive-img userimgboxthree">
            </div>
        </div>
    </div>
</div>