/* * {
  border: solid black 1px;
} */

.row {
  margin: 0;
}

.fixed-row-bottom {
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.footer {
  background: rgb(29, 28, 28);
  width: 100vw;
  height: 7vh;
  margin: 0;
  text-align: center;
}

.sidenav{
  /* z-index: 2; */
  background: rgb(29, 28, 28);
}

a{
  color: whitesmoke !important;
}


.copyright {
  color: white;
  padding-top: 3vh;
  font-size: 1.2vh;

}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background: linear-gradient(to right, rgb(125, 208, 231), rgb(175, 235, 188), rgb(143, 84, 143));
  height: 100vh;
}

.gradient-header {
  background: rgb(29, 28, 28);
  z-index: 2;

}

.signin {
  margin: 15vw;
}

.transparent {
  background: rgb(0, 0, 0);
}

.profile_image {
  margin-top: 5vh;
  width: 20vw;
  border-radius: 50%;
}

.tempbox {
  height: 30vh;
  width: 20vw;
  background: chartreuse;
  margin: 5vw;
}

/* ENTRY PAGE */
.catContainer {
  position: relative;
  overflow: hidden;
  height: 700px;
  margin: 5px;
}

.indicators{
  z-index: 1;
}

.category{
  width: 100%;
  height: auto;
  padding: -200px;
}

.catContainerheader{
  position: relative;
  overflow: hidden;
  /* height: 500px; */
}

.centered {
  text-align: center;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 6rem;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  max-width: 100vw;
}

.fancy {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.list {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  opacity: 0.0;
}

.carousel-shrink {
  width: 30vw;
}

.arrow {
  position: relative;
  top: 36vh;
  width: 2vw;
}

.light_background {
  background-color: rgba(43, 42, 42, 0.644);
  width: 80vw;
}

.logobutton {
  margin-left: 2vw;
  margin-top: 1vh;
  width: 2vw;
}

.bottom-margin {
  width: 20vw;
  height: 10vh;
}

.text-profile {
  color: white;
  background: rgba(209, 209, 209, 0.301);
}

.login-form {
  color: white;
}

.submit-button{
  margin-top: 3vh;
}

.signin-logo {
  width: 10vw;
  margin-top: 5vh;
}

.cloudinary-button{
  font-size: 2px;
}

.signup-form {
  background-color: rgba(31, 30, 30, 0.644);
  margin-left: 8%;
  margin-right: 8%;
  border-radius: 15px;
  margin-top: 5%;
  margin-bottom: 10vh;
  padding-bottom: 4vh;
  color: white;
}

.userRecContainer {
  width: 100%;

}

.eachRec {
  height: 700px;
  margin: 5px;

}


.catTitle {
  color: whitesmoke;
  text-align: center;
  font-size: 8rem;

}

.userhandle {
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(31, 30, 30, 0.644);

}

.userinfobox {
  background-color: rgba(31, 30, 30, 0.644);
  height: 100%;
  position: relative;

}

.allUserImg {
  width: 30%;
  height: auto;
}

.aUserImg{
  width: 20%;
  height: auto;
  border-radius: 20px;
}

.chosenimg {
  height: 100%;
  width: 100%;
}

.userimgbox{
    margin-top: 5px;
    height: 30vh;
    width: 42vh;
}


.image{
    width:100%;
    height:100%;
}


.userreccarousel{
    height: 70vh !important;
    margin-top: 10px;
    border-radius: 30px;
    background-color: rgba(31, 30, 30, 0.644) !important;
    margin-bottom: 10%;

}

/* transparanet box */
.createrecbox {
  height: 60vh;
  background-color: rgba(31, 30, 30, 0.644);
}


.name{
  margin-left: 3vw;
  font-size: 2vw;
}
.profile-box{
  padding-top: 3vh;
}

.test{
  margin-bottom: 20%;
}
.colored-button{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(5, 159, 197);
  border-radius: 15px;
  border: none;
}
.colored-button:hover {
  background-color: rgb(9, 78, 180);
  color: white;
}

.button-hover:hover{
 background: rgb(49, 49, 49);
}

/* right top */
.curve1 {
  position: fixed;
  z-index: -1;
  top: -4vh;
  right: -2vw;
  width: 30%;
  filter: drop-shadow(-10px 10px 15px rgb(122, 26, 134));
  animation-name: curve1-ani;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* left top */
.curve4 {
  position: fixed;
  z-index: -1;
  top: -5vh;
  left: -3vw;
  width: 25%;
  filter: drop-shadow(-10px 10px 15px rgb(47, 30, 143));
  animation-name: curve4-ani;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: .7s;

}

/* light bottom shape */
.curve2 {
  position: fixed;
  z-index: -1;
  bottom: -25vh;
  right: -1vw;
  width: 110vw;
  filter: drop-shadow(-10px 10px 15px rgb(22, 4, 126));
  animation-name: curve2-ani;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
}

/* dark bottom shape */
.curve3 {
  position: fixed;
  z-index: -2;
  bottom: -30vh;
  left: -7vw;
  width: 150vw;
  filter: drop-shadow(-10px 10px 15px rgb(66, 15, 124));
  transform: rotate(3deg);
  animation-name: curve3-ani;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: .2s;
}

/* right top */
@keyframes curve1-ani {
  0% {
    top: -4vh;
    right: -2vw;
  }

  50% {
    top: -4.5vh;
    right: -2.5vw;
  }

  100% {
    top: -4vh;
    right: -2vw;
  }
}

/* light bottom shape */
@keyframes curve2-ani {
  0% {
    bottom: -25vh;
    right: -1vw;
  }

  50% {
    bottom: -24.5vh;
    right: -2vw;
  }

  100% {
    bottom: -25vh;
    right: -1vw;
  }
}

/* dark bottom shape */
@keyframes curve3-ani {
  0% {
    bottom: -30vh;
    left: -7vw;
  }

  50% {
    bottom: -30.5vh;
    left: -7.3vw;
  }

  100% {
    bottom: -30vh;
    left: -7vw;
  }
}

/* left top */
@keyframes curve4-ani{
    0% {
         top: -5vh;
        left: -3vw;
    }
    50% {
         top: -4.5vh;
        left: -3.5vw;
    }
    100% {
         top: -5vh;
        left: -3vw;
    }
}

/* entry page to-top button */
#myBtn {
  display: none;
  position: fixed; 
  bottom: 20px;
  right: 30px; 
  z-index: 99; 
  border: none;
  outline: none;
  background-color: purple;
  color: white;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}

.bottom {
  padding-bottom: 10%;
}

.containerRec {
  text-align: center
}

.recShade {
  background-color: rgba(31, 30, 30, 0.644);
}

.padded {
  padding-left: 10%;
  padding-right: 10%;
}

/* label color */
.input-field label {
  color: rgb(0, 0, 0);
  font-size: large;
  margin: -20px;
  margin-left: 3px;
}


@media screen and (max-width: 800px){
  .curve1{
    width: 40vw;
  }
  .curve4{
    width: 30vw;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
@media screen and (max-width: 500px){
  .curve1{
    width: 50vw;
  }
  .curve4{
    width: 40vw;
  }
}

.hrclass {
  background-color: purple;
  width: 60%;
  opacity: 60%;
  /* height: 12px; */
  border-top: 1px solid black
}

#newProductOne {
  background-color: rgba(31, 30, 30, 0.644);
}

#btn1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(5, 159, 197);
  border-radius: 15px;
  border: none;
}