
.row{
    margin: 0;
}
.fixed-row-bottom { 
    position: fixed; bottom: 0;
}
.footer{
    background: linear-gradient(90deg, rgba(211,27,194,1) 0%, rgba(174,0,213,1) 22%, rgba(71,22,235,1) 65%, rgba(65,1,170,1) 100%);
    width: 100vw;
    height: 10vh;
    margin: 0;
    text-align: center;
}
.copyright{
    color: white;
    padding: 2vh;
}
body{
    background: linear-gradient(60deg, rgba(36,129,226,1) 0%, rgba(3,25,198,1) 100%);
}
.gradient-header{
    background: linear-gradient(90deg, rgba(211,27,194,1) 0%, rgba(174,0,213,1) 22%, rgba(71,22,235,1) 65%, rgba(65,1,170,1) 100%);

}
